[SddmGreeterTheme]
Name=STRATAGEM DARK
Description=STRATAGEM DARK original phosphor login
Author=Stratagem
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
Theme-Id=stratagem-dark
Theme-API=2.0
QtVersion=6
ConfigFile=theme.conf
